<div class="about-me-container">
  <div>
    <img src="../../assets/picture.jfif" alt="Picture of Gabriela Hermenegildo">
  </div>
  <div class="writing">
    <h2> Hello! </h2>
    <p>My name is Gabriela Hermenegildo.</p>
    <p>I'm a Fullstack Developer, in love with programming.</p>
    <p>I was born in Brazil, but I live in Argentina. I have a master's degree in Visual Arts, so I'm partial to visual
      development,
      but I also love working creatively in Backend development, especially with Java or C#. In Frontend, I have
      experience with React and Angular,
      especially using Typescript. </p>

    <p>I love being creative to solve the challenges that project development brings, applying logic to programming and
      seeing what had been idealized really working.</p>
    <p> Please, feel free to <a [routerLink]="['/contact']"> Contact me</a> or check out my <a> Projects</a>.</p>
  </div>
</div>
