.about-me-container{
  display: flex;
  align-items: center;
  gap: 5vw;
  text-align: justify;
}

.writing {
  width: 50vw;
  color: white;
  background: rgba(89, 79, 129, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(16.9px);
  border-radius: 16px;
  padding: 24px;
}

h2{
  font-size: 32px;
  margin-bottom: 16px;
}

p{
  font-size: 16px;
  margin-bottom: 8px;
}

img {
  border-radius: 24px;
  height: 250px;
  width: 250px;
}

a{
  color: white;
  text-decoration: underline !important;
  cursor: pointer;
}
