<app-header></app-header>
<div class="about-me-container">
  <div>
    <img src="../../assets/picture.jfif" alt="Picture of Gabriela Hermenegildo">
  </div>
  <div class="writing">
    <h2> Hello! </h2>
    <p>My name is Gabriela Hermenegildo.</p>
    <p>I'm a Fullstack Developer, in love with programming.</p>
    <p>I was born in Brazil, but I live in Argentina. I have a master's degree in Visual Arts, so I'm partial to visual
      development,
      but I also love working creatively in Backend development, especially with Java or C#. In Frontend, I have
      experience with React and Angular,
      especially using Typescript. </p>

    <p>I love being creative to solve the challenges that project development brings, applying logic to programming and
      seeing what had been idealized really working.</p>
    <p> Please, feel free to <a>Contact me</a> or check out my <a>Projects</a>.</p>
    <!-- <p>I'm a brazilian FullStack Developer. I am a quick learner, love to study, learn and gain experience and I'm in
      love with programming and coding. I have worked mainly with .NET, Java, Angular, React, TypeScript, HTML, CSS and
      have experience with Agile methodologies such as Kanban and Scrum. I also have knowledge and work experience with
      Docker, SQL and Database programs such as MySQL, Postgres and Oracle, CI/CD and designs such as DDD and TDD and
      Object-Oriented programming. I have a Master's degree in Visual Arts and worked as a freelancer with translation
      and subtitling in ENG ⇄ POR.

      I have already developed personal Frontend projects similar to Instagram, Whatsapp, Tinder, IFood and Reddit,
      mainly using React and Javascript, CSS and HTML. I also have developed a personal Fullstack project similar to
      IMDb, Letterboxd and Filmow, using Java (Spring Boot), Angular and PostgreSQL.
      I've been working professionally for a year on Fullstack projects made with Java, .NET, Angular, React, PostgreSQL
      and Oracle, also working with management of Continuous Delivery and Integration and deployment for production in
      teams that use Agile Methodologies for development.

      I love being creative to solve the challenges that project development brings, applying logic to programming and
      seeing what had been idealized really working. In addition, I love working as a team and helping people, as well
      as knowing that I can count on the help of others, without being afraid to ask for help.</p> -->
  </div>
</div>
