.header-container{
  display: flex;
  padding: 16px 40px;
  align-items: center;
  height: 80px;
  color: white;
  background: rgba(89, 79, 129, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(16.9px);
}

h1{
  font-size: 48px;
}

button{
  background: none;
  border: none;
  color: white;
  border-radius: 4px;

  padding: 8px;
  font-size: 24px;
  margin-left: 24px;
  cursor: pointer;
}

button:hover{
  border-bottom: 1px solid white;
}
