.project-container{
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-bottom: 5vh;
}

.project-div{
  width: 90%;
  color: white;
  background: rgba(89, 79, 129, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(16.9px);
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 32px;
}

.title{
  gap: 16px;
  margin-bottom: 2vh;
}

.link-icon{
  margin-top: 6px;
}

.github-icon{
  width: 30px;
}

.project-type{
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(89, 79, 129, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(16.9px);
  border-radius: 8px;
  padding: 2px 16px;
}

.tech-container{
  gap: 4px;
}

.tech{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(89, 79, 129, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(16.9px);
  border-radius: 8px;
  padding: 2px 16px;
}
