.email-container{
  margin-left: 25vw;
  width: 50vw;
  color: white;
  background: rgba(89, 79, 129, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(16.9px);
  border-radius: 16px;
  padding: 24px;
}

.input-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input{
  margin-bottom: 16px;
}
textarea{
  border-radius: 4px;
}
