.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 160px 0px 0px 260px;
  gap: 24px;
}

.icon-container{
  display: flex;
  align-items: center;
  gap: 24px;
}

.icon{
  height: 45px;
  width: 45px;
}

h2{
  font-size: 72px;
}

p{
  font-size: 40px;
}
