.home-container{
  /* margin-top: 80px; */
  margin: 104px 100px 24px 100px;
}

.welcome-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.about-me-container{
  margin: 48px 0;
}

.icon-container{
  display: flex;
  align-items: center;
  gap: 24px;
}

.icon{
  height: 45px;
  width: 45px;
}

h2{
  font-size: 64px;
}

p{
  font-size: 40px;
}
