<app-header></app-header>
<div class="d-flex flex-column justify-content-center align-items-center title">
  <h2>Want me to build your website or your API? Please, send me an email!</h2>
  <p>Be sure to add your correct email and your name, so I can get back to you as soon as possible!</p>
</div>
<div>
  <div class="icon-container d-flex justify-content-center">
    <a href="https://github.com/gabiihjr" target="_blank"><img class="icon" src="../../assets/icon-github-white.png"
        alt="Github Icon" /></a>
    <a href="https://www.linkedin.com/in/gabriela-hermenegildo-jr/" target="_blank"><img class="icon"
        src="../../assets/icon-linkedin-white.png" alt="Linkedin Icon" /></a>
  </div>
  <app-contact-email></app-contact-email>
</div>
